@charset "utf-8";
/* CSS Document */

div#hot>img{
	width:915px;
	height:300px;
}
div#hot>p{
	color:#F06;
	font-size:43px;
	margin-left:20;
	margin-top:40;
}
div#fontchu>p{
	font-size:30px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	color:#F00;
}

