@charset "utf-8";
/* CSS Document */
.thongtin{
	padding-left:80px;
	font-size:24px;
	text-decoration:none;
	}
.giatien{
	padding-left:80px;
	font-size:24px;
	color:#F00;	
	}
	
.vitrianh>img{
	padding-left:80px;
	width:800px;
	height:300px;
}
.muahang{
	
	padding-left:80px;
	font-size:50px;
	text-decoration:none;
	color:#F00;
	margin-top:70px;
}

